.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hiden {
  display: none;
}

.autocomplete {
  width: 22.4rem;
}

/* .autocomplete [role='listbox'] {

} */

.auto-label {
  padding: 0 0 0.5rem 0;
  margin: 0;
}

.auto-input {
  width: 22rem;
}

.options {
  padding: 0.1rem 0 0 0;
  margin: 0;
  font-size: 1.3rem;
  width: 23rem;
  max-height: 10rem;
  scrollbar-width: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.auto-option {
  box-sizing: border-box;
  border: 1px solid white;
  list-style-type: none;
}

.auto-option:hover {
  background-color: grey;
  cursor: pointer;
  border: 2px solid rgb(24, 109, 236);
}
