.page-number {
  padding: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
}

.prev-button, .next-button {
  padding: 0;
  width: 5rem;
  height: 4rem;
  text-align: center;
}
.pagination-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}