.error-wrapper {
  position: relative;
  min-width: 100%;
  max-width: 128rem;
  height: 100%;
  top: -3rem;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  background-image: none;

}

.error-image {
  height: 100%;
  width: 33%;
  align-self: center;
}
